// output: index.html

doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css")
    link(rel="stylesheet" type="text/css" href="./public/style/style.css")

  body(ng-app="example")
    div.container-fluid
      div(ui-view)

    script(src="../node_modules/jquery/dist/jquery.min.js")
    script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
    script(src="../node_modules/angular/angular.js")
    script(src="../node_modules/angular-sanitize/angular-sanitize.js")
    script(src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js")
    script(src="../node_modules/angular-ui-router/release/angular-ui-router.min.js")
    script(src="../node_modules/angular-ui-router-tabs/src/ui-router-tabs.js")
    script(src="./public/app.js")
    script(src="./public/controllers/example-controller.js")
